<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
  <h3>Users</h3>
  <table>
      <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>AGE</th>
      </tr>
      <tr th:each="user : ${users}">
          <td th:text="${user.id}"></td>
          <td th:text="${user.name}"></td>
          <td th:text="${user.age}"></td>
      </tr>
  </table>

  <h3>Thymeleaf scope</h3>
  <p>Request: <span th:text="${request}"></span></p>
  <p>Session: <span th:text="${session.session}"></span></p>
  <p>Application: <span th:text="${application.application}"></span></p>

  <h3>Thymeleaf URLs</h3>
  <a th:href="@{~/hello}">Visit demo page</a> <br/>
  <!--visit with parameter-->
  <a th:href="@{~/hello(id=1, name=eric)}">Visit demo page with parameter</a> <br/>
</body>
</html>
