<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
  <h3>Add User</h3>
  <form action="#" th:action="@{/add}" th:object="${user}" method="post">
    <table>
      <tr>
        <td>Username:</td>
        <td><input type="text" th:field="*{name}"></td>
        <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Name Error</td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" th:field="*{password}"/></td>
        <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}" >Password Error</td>
      </tr>
      <tr>
        <td>Grade:</td>
        <td><input type="text" th:field="*{grade}"/></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><input type="email" th:field="*{email}"/></td>
        <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
      </tr>
    </table>
    <input type="submit" value="Add">
  </form>
</body>
</html>